@use "./utils/variables" as v;
@use "./utils/mixins" as m;
@use "./base/body";
@use "./base/link";
@use "./layouts/header";
@use "./layouts/recette";
@use "./layouts/tag";

.main {
    .search__bar {
        &__input {
            height: 59px; ///////
        }
    }
    .search__modules {
        display: none;
    }
}
#result-section {
    margin-top: 20px;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}