body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 1em;
  line-height: 1.5em;
  box-sizing: border-box;
  width: 100%;
  background-color: #FFF;
  margin: 0;
}

a, input, button, ul {
  border: none;
  text-decoration: none;
  cursor: pointer;
  list-style-type: none;
}
a:hover, a:active, a:focus, input:hover, input:active, input:focus, button:hover, button:active, button:focus, ul:hover, ul:active, ul:focus {
  border: none;
  text-decoration: none;
  outline: none;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: fit-content;
  padding-top: 30px;
  padding-bottom: 20px;
  color: #D04F4F;
  user-select: none;
}
.header__logo {
  width: 52px;
  height: auto;
}
.header__title {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 2.25em;
  margin: 10px 0 0 0;
}
.header__title:focus {
  outline: none;
}

.template__recette__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 350px;
  min-height: 360px;
  border-radius: 5px;
  background-color: #E7E7E7;
  overflow: hidden;
  margin: 0;
}
.template__recette__item__thumbnail {
  width: 100%;
  height: 180px;
  border-radius: 5px 5px 0 0;
}
.template__recette__item__thumbnail__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.template__recette__item__details {
  width: 100%;
  min-height: 186px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.template__recette__item__details__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
  margin: 0;
  line-height: 24px;
  padding: 1em 1em 0 1em;
}
.template__recette__item__details__header__title {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.125em;
  max-width: calc(100% - 102px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}
.template__recette__item__details__header__infos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.template__recette__item__details__header__infos__icon {
  width: 20px;
  height: 20px;
  padding-right: 7px;
  margin: 0;
}
.template__recette__item__details__header__infos__time {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1.125em;
}
.template__recette__item__details__content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 302px;
  height: fit-content;
  line-height: 1em;
  box-sizing: border-box;
  overflow: hidden;
  margin: 1em;
  padding: 0;
}
.template__recette__item__details__content__ingredients {
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  margin: 0;
  padding: 0 1em 0 0;
}
.template__recette__item__details__content__ingredients__ingredient {
  font-size: 0.75em;
}
.template__recette__item__details__content__ingredients__ingredient__name {
  font-family: "Lato", sans-serif;
  font-weight: 700;
}
.template__recette__item__details__content__ingredients__ingredient__quantity {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}
.template__recette__item__details__content__description {
  width: 50%;
  font-size: 0.75em;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  margin: 0;
}

.template__tag__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: fit-content;
  margin: 20px 20px 0 0;
  padding: 0 1em;
  height: 37px;
  border-radius: 5px;
}
.template__tag__item__title {
  line-height: 37px;
  color: #FFF;
  padding-right: 1em;
  margin: 0;
  font-size: 0.875em;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}
.template__tag__item__icon {
  width: fit-content;
  height: fit-content;
}
.template__tag__item__icon__cross {
  width: 20px;
  height: 20px;
}

#ingredient.template__tag__item, #ingredient .template__tag__item__icon {
  background-color: #3282F7;
}

#appareil.template__tag__item, #appareil .template__tag__item__icon {
  background-color: #68D9A4;
}

#ustensile.template__tag__item, #ustensile .template__tag__item__icon {
  background-color: #ED6454;
}

.main .search__bar__input {
  height: 59px;
}
.main .search__modules {
  position: absolute;
  top: 200px;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 0 7% 0 7%;
}
.main .search__modules__container {
  flex-direction: column;
  margin: 0px 0;
}
.main .search__modules__container__module {
  min-width: 100%;
  min-height: 59px;
  margin: 0 0 10px 0;
}
.main .search__modules__container__module#module-ustensiles, .main .search__modules__container__module#module-appareil {
  margin-left: 0px;
}
.main .search__modules__container__module__bar {
  height: 59px;
}
.main .search__modules__container__module__list {
  width: 100%;
  max-height: 250px;
  column-gap: 20px;
  row-gap: 15px;
}
.main .search__modules__container__module__list__ingredient, .main .search__modules__container__module__list__appareil, .main .search__modules__container__module__list__ustensile {
  min-width: 33%;
}

#result-section {
  display: grid;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
  margin-top: 218px;
  padding: 0 7% 150px 7%;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

#no-result {
  padding: 25px;
}
#no-result .no__result__main {
  font-family: "Lato", sans-serif;
  font-weight: 700;
}
#no-result .no__result__help {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
  top: -20000px;
  left: -20000px;
}
