@use "../utils/variables" as v;
//@use "../utils/mixins" as m;

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 1em;
    line-height: 1.5em;
    box-sizing: border-box;
    width: 100%;
    background-color: v.$fond_primaire;
    margin: 0;
}